@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
.container {
  height: 290px;
  width: 382px;
  overflow: hidden;
  cursor: pointer;
}

img {
  height: 320px;
  width: 382px;
  transform: translateY(-20px);
  transition: transform 0.4s ease;
  overflow: hidden;
  z-index: -1;
}
.container:hover img {
  transform: translateY(0);
}

.bg {
  position: absolute;
  top: 0;
  height: 290px;
  width: 382px;
  background-color: transparent;
  transition: top 0.4s ease;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.container:hover .bg {
  background-color: rgba(171, 212, 208, 0.199);
}

.bg h3 {
  font-size: 25px;
  transform: translateY(-20px);
  margin-bottom: 5px;
  transition: all 0.4s ease;
}
.container:hover .bg h3 {
  transform: translateY(0px);
}

.bg p {
  opacity: 0;
  max-width: 270px;
  text-align: center;
  transition: all ease-in-out 0.3s;
}
.container:hover .bg p {
  opacity: 1;
}

span {
  font-weight: bold;
}

.bg:before {
  content: "";
  position: absolute;
  width: 300px;
  top: 10%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: all ease-in-out 0.7s;
  height: 0;
}
.container:hover .bg:before {
  height: 220px;
}

.bg:after {
  content: "";
  position: absolute;
  width: 0px;
  left: 10%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: all ease-in-out 0.7s;
  height: 200px;
}
.container:hover .bg:after {
  width: 300px;
}
